In [29]:
#dependencies
import pandas as pd
import numpy as np

In [30]:
game_csv = "2009.csv"
team_code="teamcodemaster.csv"


game_df = pd.read_csv(game_csv)
team_df= pd.read_csv(team_code)

In [31]:
game_df.head()

,Team Code,Game Code,Rush Att,Rush Yard,Rush TD,Pass Att,Pass Comp,Pass Yard,Pass TD,Pass Int,...,Time Of Possession,Penalty,Penalty Yard,Third Down Att,Third Down Conv,Fourth Down Att,Fourth Down Conv,Red Zone Att,Red Zone TD,Red Zone Field Goal
0,5,5.053920e+12,30,28,0,24,13,158,1,1,...,1519,7,59,14,3,3,0,1,0,0
1,5,4.460010e+14,49,250,1,28,16,186,3,0,...,2088,1,5,17,11,1,0,8,4,2
2,5,3.060010e+14,30,106,1,23,14,165,1,4,...,1509,5,52,7,1,0,0,1,1,0
3,5,5.012920e+12,37,69,3,19,12,127,0,0,...,1479,6,51,12,1,2,0,3,3,0
4,5,5.190010e+14,34,159,1,42,19,187,0,2,...,1587,6,68,17,8,3,2,3,1,0

In [32]:
team_df.head()

   Team Code           Name  Conference Code  Unnamed: 3  Unnamed: 4
0          8        Alabama              911         NaN         NaN
1         29        Arizona              905         NaN         NaN
2         28  Arizona State              905         NaN         NaN
3         31       Arkansas              911         NaN         NaN
4         37         Auburn              911         NaN         NaN

In [35]:
 # Merge the two DataFrames together based on the Team Code
stats_df = pd.merge(game_df, team_df, on="Team Code")
stats_df.tail()

,Team Code,Game Code,Rush Att,Rush Yard,Rush TD,Pass Att,Pass Comp,Pass Yard,Pass TD,Pass Int,...,Third Down Conv,Fourth Down Att,Fourth Down Conv,Red Zone Att,Red Zone TD,Red Zone Field Goal,Name,Conference Code,Unnamed: 3,Unnamed: 4
825,796,7.960310e+14,52,294,3,20,11,194,1,0,...,11,0,0,5,4,1,Wisconsin,827,NaN,NaN
826,796,4.180800e+14,52,229,2,24,16,240,4,1,...,6,1,1,6,5,1,Wisconsin,827,NaN,NaN
827,796,7.960510e+14,35,99,1,30,19,235,2,1,...,4,2,1,3,2,1,Wisconsin,827,NaN,NaN
828,796,7.960280e+14,52,301,7,20,16,253,0,0,...,8,1,1,8,6,1,Wisconsin,827,NaN,NaN
829,796,4.150800e+14,42,170,2,26,19,260,0,1,...,6,0,0,4,2,2,Wisconsin,827,NaN,NaN

In [34]:
# Identify incomplete rows
stats_df.count()

Team Code               830
Game Code               830
Rush Att                830
Rush Yard               830
Rush TD                 830
Pass Att                830
Pass Comp               830
Pass Yard               830
Pass TD                 830
Pass Int                830
Pass Conv               830
Kickoff Ret             830
Kickoff Ret Yard        830
Kickoff Ret TD          830
Punt Ret                830
Punt Ret Yard           830
Punt Ret TD             830
Fum Ret                 830
Fum Ret Yard            830
Fum Ret TD              830
Int Ret                 830
Int Ret Yard            830
Int Ret TD              830
Misc Ret                830
Misc Ret Yard           830
Misc Ret TD             830
Field Goal Att          830
Field Goal Made         830
Off XP Kick Att         830
Off XP Kick Made        830
                       ...
Kickoff Onside          830
Fumble                  830
Fumble Lost             830
Tackle Solo             830
Tackle Assist           830
Tackle For Loss         830
Tackle For Loss Yard    830
Sack                    830
Sack Yard               830
QB Hurry                830
Fumble Forced           830
Pass Broken Up          830
Kick/Punt Blocked       830
1st Down Rush           830
1st Down Pass           830
1st Down Penalty        830
Time Of Possession      830
Penalty                 830
Penalty Yard            830
Third Down Att          830
Third Down Conv         830
Fourth Down Att         830
Fourth Down Conv        830
Red Zone Att            830
Red Zone TD             830
Red Zone Field Goal     830
Name                    830
Conference Code         830
Unnamed: 3                0
Unnamed: 4                0
Length: 72, dtype: int64

In [36]:
# Drop all rows with missing information
#game_stats_df= df.drop([])

stats_df.to_csv

<bound method NDFrame.to_csv of      Team Code     Game Code  Rush Att  Rush Yard  Rush TD  Pass Att  \
0            8  8.074220e+12        49        268        2        30
1            8  2.310010e+14        42        275        4        24
2            8  4.970010e+14        45        260        5        28
3            8  3.100080e+13        41        134        2        24
4            8  8.033420e+12        42        204        2        26
5            8  8.043320e+12        41        200        1        35
6            8  6.480010e+14        38        264        1        20
7            8  6.940010e+14        30        136        0        29
8            8  3.650010e+14        38        176        0        34
9            8  8.043020e+12        40        252        2        18
10           8  6.930010e+14        56        313        4        16
11           8  8.003720e+12        35         73        1        32
12           8  2.350010e+14        53        251        3        18
13           8  7.030010e+14        51        205        4        12
14          28  2.940030e+14        39        199        3        30
15          28  4.980030e+14        34        118        3        33
16          28  2.802570e+13        28         88        0        32
17          28  5.280030e+14        31         68        1        58
18          28  2.807540e+13        37        220        3        33
19          28  7.560030e+14        27        169        1        36
20          28  2.806740e+13        25        129        0        30
21          28  1.070030e+14        26         82        1        30
22          28  6.570030e+14        33         81        0        50
23          28  2.805290e+13        38         84        2        32
24          28  2.801100e+13        33        118        0        22
25          28  2.900280e+13        30         86        0        33
26          29  1.290030e+14        46        246        1        30
27          29  5.010030e+14        47        365        3        28
28          29  2.903120e+13        25        148        0        26
29          29  2.905280e+13        33        134        2        34
..         ...           ...       ...        ...      ...       ...
800        756  7.560110e+14        25        152        0        40
801        756  7.560530e+14        30        121        0        23
802        756  7.540760e+14        40        265        2        28
803        756  1.070760e+14        39        177        3        24
804        768  3.550770e+14        34        195        3        26
805        768  1.960770e+14        37        175        1        31
806        768  7.680040e+14        39        207        3        41
807        768  1.570770e+14        42        257        3        19
808        768  7.680690e+14        40        127        4        34
809        768  3.880770e+14        31        147        2        23
810        768  1.640770e+14        40        234        2        27
811        768  7.680650e+14        35        118        2        32
812        768  3.670770e+14        39        173        1        18
813        768  7.680140e+14        46        202        2        25
814        768  5.450770e+14        43        205        1        32
815        768  7.680590e+14        45        162        2        20
816        768  7.680230e+14        37        221        3        19
817        796  5.030800e+14        38        152        3        25
818        796  9.607960e+13        39        188        3        28
819        796  2.915080e+15        42        258        3        21
820        796  4.160800e+14        50        193        1        31
821        796  7.960430e+14        49        295        3        26
822        796  7.960520e+14        44        118        1        45
823        796  3.120800e+14        33         87        1        25
824        796  5.590800e+14        53        266        3        19
825        796  7.960310e+14        52        294        3        20
826        796  4.180800e+14        52        229        2        24
827        796  7.960510e+14        35         99        1        30
828        796  7.960280e+14        52        301        7        20
829        796  4.150800e+14        42        170        2        26

     Pass Comp  Pass Yard  Pass TD  Pass Int  ...  Third Down Conv  \
0           15        230        1         1  ...                6
1           18        241        1         0  ...                3
2           22        263        2         0  ...               10
3           17        291        3         0  ...                6
4           15        148        2         0  ...                8
5           16        154        0         0  ...                4
6           10         92        0         2  ...                3
7           18        120        0         0  ...                5
8           19        276        2         1  ...                4
9           13        192        2         0  ...                4
10          10        109        1         0  ...                5
11          21        218        2         0  ...                5
12          12        239        1         0  ...               11
13           6         58        0         1  ...                2
14          17        208        1         0  ...                4
15          19        220        1         0  ...                7
16          10        116        1         1  ...                4
17          32        338        1         1  ...                4
18          22        190        1         3  ...                3
19          22        295        2         0  ...                5
20          13        161        2         0  ...                3
21          17        247        2         2  ...                4
22          23        266        1         3  ...                5
23          18        127        1         1  ...                7
24          15        197        2         1  ...                3
25          17        217        2         0  ...                3
26          19        202        0         1  ...                6
27          20        194        2         1  ...                8
28          10        105        1         1  ...                2
29          25        254        3         0  ...                5
..         ...        ...      ...       ...  ...              ...
800         23        235        2         1  ...                6
801         14        153        3         1  ...                5
802         16        196        1         1  ...                4
803         20        286        3         0  ...                2
804         19        243        0         0  ...                6
805         24        334        4         1  ...                7
806         24        302        1         5  ...               10
807         12        148        2         0  ...                4
808         25        258        1         0  ...                5
809         16        166        1         0  ...                3
810         16        153        1         1  ...                8
811         19        205        0         1  ...                7
812         10        100        1         1  ...                3
813         17        188        1         0  ...                5
814         19        164        0         0  ...                9
815         10        116        0         0  ...                2
816          9        107        0         1  ...                4
817         18        281        1         2  ...                7
818         17        225        1         0  ...                5
819         16        172        2         0  ...                5
820         19        243        4         0  ...               11
821         16        159        1         1  ...                8
822         27        250        0         2  ...                6
823         15        143        0         3  ...                3
824          9        115        0         1  ...                5
825         11        194        1         0  ...               11
826         16        240        4         1  ...                6
827         19        235        2         1  ...                4
828         16        253        0         0  ...                8
829         19        260        0         1  ...                6

     Fourth Down Att  Fourth Down Conv  Red Zone Att  Red Zone TD  \
0                  0                 0             8            3
1                  1                 1             5            2
2                  1                 1             7            5
3                  1                 0             3            2
4                  3                 2             5            3
5                  4                 4             6            0
6                  0                 0             3            1
7                  1                 0             1            0
8                  1                 1             2            0
9                  1                 0             1            1
10                 2                 1             4            2
11                 1                 0             4            2
12                 0                 0             6            4
13                 1                 0             4            3
14                 2                 2            10            3
15                 1                 0             5            4
16                 0                 0             3            1
17                 7                 5             4            2
18                 2                 1             5            4
19                 0                 0             4            1
20                 2                 0             1            1
21                 1                 0             3            2
22                 3                 2             2            0
23                 1                 0             3            3
24                 1                 0             0            0
25                 2                 2             3            1
26                 0                 0             5            1
27                 4                 3             5            3
28                 3                 2             2            1
29                 1                 0             5            5
..               ...               ...           ...          ...
800                0                 0             5            1
801                1                 1             1            1
802                1                 1             4            2
803                3                 2             5            4
804                0                 0             5            2
805                0                 0             5            3
806                1                 0             5            3
807                0                 0             4            3
808                1                 0             5            5
809                2                 1             3            2
810                0                 0             3            2
811                1                 0             4            2
812                0                 0             3            2
813                1                 0             2            2
814                3                 1             2            0
815                1                 0             3            2
816                2                 1             3            2
817                0                 0             2            2
818                0                 0             4            3
819                0                 0             6            5
820                1                 0             5            4
821                0                 0             5            4
822                5                 3             3            1
823                1                 1             2            1
824                1                 1             5            3
825                0                 0             5            4
826                1                 1             6            5
827                2                 1             3            2
828                1                 1             8            6
829                0                 0             4            2

     Red Zone Field Goal           Name  Conference Code  Unnamed: 3  \
0                      3        Alabama              911         NaN
1                      2        Alabama              911         NaN
2                      2        Alabama              911         NaN
3                      0        Alabama              911         NaN
4                      1        Alabama              911         NaN
5                      5        Alabama              911         NaN
6                      2        Alabama              911         NaN
7                      1        Alabama              911         NaN
8                      2        Alabama              911         NaN
9                      0        Alabama              911         NaN
10                     1        Alabama              911         NaN
11                     2        Alabama              911         NaN
12                     1        Alabama              911         NaN
13                     1        Alabama              911         NaN
14                     5  Arizona State              905         NaN
15                     1  Arizona State              905         NaN
16                     1  Arizona State              905         NaN
17                     1  Arizona State              905         NaN
18                     0  Arizona State              905         NaN
19                     1  Arizona State              905         NaN
20                     0  Arizona State              905         NaN
21                     0  Arizona State              905         NaN
22                     1  Arizona State              905         NaN
23                     0  Arizona State              905         NaN
24                     0  Arizona State              905         NaN
25                     1  Arizona State              905         NaN
26                     3        Arizona              905         NaN
27                     0        Arizona              905         NaN
28                     1        Arizona              905         NaN
29                     0        Arizona              905         NaN
..                   ...            ...              ...         ...
800                    3     Washington              905         NaN
801                    0     Washington              905         NaN
802                    2     Washington              905         NaN
803                    0     Washington              905         NaN
804                    3  West Virginia              823         NaN
805                    0  West Virginia              823         NaN
806                    1  West Virginia              823         NaN
807                    0  West Virginia              823         NaN
808                    0  West Virginia              823         NaN
809                    1  West Virginia              823         NaN
810                    0  West Virginia              823         NaN
811                    1  West Virginia              823         NaN
812                    0  West Virginia              823         NaN
813                    0  West Virginia              823         NaN
814                    1  West Virginia              823         NaN
815                    0  West Virginia              823         NaN
816                    0  West Virginia              823         NaN
817                    0      Wisconsin              827         NaN
818                    1      Wisconsin              827         NaN
819                    1      Wisconsin              827         NaN
820                    0      Wisconsin              827         NaN
821                    0      Wisconsin              827         NaN
822                    0      Wisconsin              827         NaN
823                    1      Wisconsin              827         NaN
824                    2      Wisconsin              827         NaN
825                    1      Wisconsin              827         NaN
826                    1      Wisconsin              827         NaN
827                    1      Wisconsin              827         NaN
828                    1      Wisconsin              827         NaN
829                    2      Wisconsin              827         NaN

     Unnamed: 4
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
..          ...
800         NaN
801         NaN
802         NaN
803         NaN
804         NaN
805         NaN
806         NaN
807         NaN
808         NaN
809         NaN
810         NaN
811         NaN
812         NaN
813         NaN
814         NaN
815         NaN
816         NaN
817         NaN
818         NaN
819         NaN
820         NaN
821         NaN
822         NaN
823         NaN
824         NaN
825         NaN
826         NaN
827         NaN
828         NaN
829         NaN

[830 rows x 72 columns]>